@import '~@material/typography/mixins';

.app-title {
  @include mdc-typography(headline);
  @include mdc-typography-adjust-margin(headline);
}

.section-title {
  @include mdc-typography(title);  

  margin: 0;
  padding: 16px;
}

.task {
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  &.selected {
    background: rgba(0, 0, 0, 0.05);
  }
}

.loadingSpinner {
  width: 40px;
}